//========================================================
//                     Variables
//========================================================

// Resolutions
$screen-xxs-min: 480px;
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Fonts
$fa: 'FontAwesome';
$mi: 'Material Icons';
$default-font-family: 'PT Sans', sans-serif;
$default-font-weight: 400;
$default-font-size: 16px;
$default-line-height: 1;



// Colors
$white: #ffffff;
$black: #000000;
$default: #333333;
$grey: #b2b2b2;

$primary: #0c4da2;          // blue
$secondary: #e42644;        // red
$primary--darkest: #323232;

$header-color: $white;
$header-bg: $white;

$content-color: $default;
$content-bg: $white;

$footer-color: $white;
$footer-bg: $primary--darkest;